<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="studentBean" class="com.Bean.StudentBean"></bean>
    <bean id="AddressBean" class="com.Bean.AddressBean"></bean>
    <bean id="AuthorBean" class="com.Bean.AuthorBean"></bean>
    <bean id="BookBean" class="com.Bean.BookBean">
    	<constructor-arg ref="AuthorBean"></constructor-arg>
    </bean>

</beans>
	